[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
telepot = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3"

[scripts]
get_mishna = "bash -c 'python get_mishna.py > mishna.txt'"
